In [63]:
# Liberias necesarias
import pandas as pd
import numpy as np

# Cargar dataset ventas
url_ventas = '../data/raw/dataset_ventas_2025_09.csv'
df = pd.read_csv(url_ventas)
#df.head()

# Cargar dataset empleados
url_empleados = '../data/raw/dataset_empleados_alcom.csv'
df_empleados = pd.read_csv(url_empleados)
df_empleados.head()

,emp_Nroemp,emp_nombrecompleto,emp_nombre,emp_paterno,emp_materno,emp_fchnac,emp_telcasa,emp_telmovil,emp_email,emp_proyecto,...,EvaluacionSupervisor,puede_validar,Clasificacion,tipo_asistencia,tipo_ventas,ventas_propias,ingresadas,sobreventas_generadas,jefe_anterior,fecha_cambio
0,1642,BAJA-MARY CLAUDIA GARCIA JIMENEZ,MARY CLAUDIA,GARCIA,JIMENEZ,NaN,NaN,4432637079,claudia.garcia@alcomcc.com,618,...,2741.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2262,BAJA-CARLOS ALBERTO CASTAÃ‘EDA PASCUAL,CARLOS ALBERTO,CASTAÑEDA,PASCUAL,1993-04-01 00:00:00.000,NaN,4431157985,krlos_morales28@hotmail.com,618,...,2741.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2741,BAJA-BERTHA LILIA GONZALEZ TALANCON,BERTHA LILIA,GONZALEZ,TALANCON,1992-05-01 00:00:00.000,3167055,4431723712,lilia.gonzalez@alcomcc.com,618,...,2741.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3064,BAJA-GIOVANNY QUETZAL PIÃ‘A LEON,GIOVANNY QUETZAL,PIÑA,LEON,1992-06-13 00:00:00.000,4439626495,4432163006,giovanny.pina.4@gmail.com,618,...,2741.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3427,MARIA DEL ROSARIO VIRGINIA MARES BAEZ,MARIA DEL ROSARIO VIRGINIA,MARES,BAEZ,1954-12-20 00:00:00.000,0,4433940273,vicky_mares2@hotmail.com,618,...,2741.0,0,C,1.0,3.0,NaN,NaN,NaN,NaN,NaN

In [64]:
# Ver columnas y tipo de datos
#df.info()
#df_empleados.info()

# Renombrar columnas
df.rename(columns = {
    'Precio_Mensual_del_paquete_formado': 'precio_paquete',
    'paquete_vendido': 'paquete',
    'fechaventa': 'fecha'
}, inplace=True)

df_empleados.rename(columns = {
    'emp_Nroemp': 'empleado',
    'emp_nombre': 'nombre_empleado'
}, inplace=True)

# Cambiar el tipo de dato de fecha y extraer solo la fecha (sin hora)
df.loc[:, 'fecha'] = pd.to_datetime(df['fecha']).dt.date
# Buscar valores nulos
#df.isnull().sum()
df.isnull().sum()

idtabla           0
agente            0
supervisor        0
fecha             0
paquete           0
precio_paquete    0
Tipo              0
puntos            0
dtype: int64

In [67]:
#df.head()
#df_empleados.head()

# Merge del nombre del empleado
df = df.merge(
    df_empleados[['empleado', 'nombre_empleado']],
    left_on='agente',
    right_on='empleado',
    how='left'
)
df.rename(columns={'nombre_empleado': 'nombre_agente'}, inplace=True)
df.drop(columns=['empleado'], inplace=True)

# Merge del nombre del supervisor
df = df.merge(
    df_empleados[['empleado', 'nombre_empleado']],
    left_on='supervisor',
    right_on='empleado',
    how='left'
)
df.rename(columns={'nombre_empleado': 'nombre_supervisor'}, inplace=True)
df.drop(columns=['empleado'], inplace=True)

df.head()
# Eliminar las filas con valores nulos o vacios
df = df.dropna(subset=['paquete', 'precio_paquete', 'nombre_agente', 'nombre_supervisor'])

In [68]:
# Guardar archivo limpio
df.to_csv('../data/processed/dataset_limpio.csv', index=False)